@{
    ViewData["Title"] = "Home Page";
}
@model TranslationModel

<div class="text-center">
    <h3 class="display-2">Funny translator :)</h3>
    <form asp-controller="Home" asp-action="Translate">
        <label class="mt-4">Input:</label>
        <input class="form-control" type="text" asp-for="Input"/>

        <label class="mt-4">Result:</label>
        <input class="form-control" type="text" asp-for="Result" readonly/>

        <button class="btn-primary mt-3" type="submit">Confirm</button>
    </form>
</div>
